@import "../../assets/colors.scss";
@import "../../assets/dimension";

.custom-button {
  background-color: $offblack;
  // background-image: $btngradient;
  min-width: 5em;
  width: auto;
  height: $defaultbtnheight;

  font-family: "Open Sans Condensed";
  font-weight: bold;
  color: white;
  font-size: 0.7em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 20px;

  padding: 0;
  border: none;
  cursor: pointer;
  box-sizing: border-box;

  &:hover {
    border-bottom: 5px solid $greenmain;

    // line-height: 0;

    // background-color: white;
    // color: black;
  }
}
