@import "../../assets/colors.scss";
@import "../../assets/dimension";

.custom-button {
  background-color: $offblack;
  min-width: 5em;
  width: auto;
  height: $defaultbtnheight;

  font-family: "Open Sans Condensed";
  font-weight: bold;
  letter-spacing: 0.05em;
  font-size: 0.9em;
  color: white;
  text-transform: uppercase;

  padding: 0;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: white;
    color: black;
  }
}
