@import "../../assets/colors.scss";
@import "../../assets/dimensions";

.custom-button {
  background-color: $offblack;
  // background-image: $btngradient;
  min-width: 5em;
  width: auto;
  height: $defaultbtnheight;
  padding: 0;
  box-sizing: border-box;

  font-family: "Open Sans Condensed";
  font-weight: bold;
  color: white;
  font-size: 0.7em;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: $defaultedgeradius;

  border: none;
  cursor: pointer;

  transition-duration: 200ms;
  transition-property: box-shadow;

  &:focus {
    outline: 0;
  }

  &:hover {
    // border-bottom: 5px solid $greenmain;
    // box-shadow: 0 5px 0 0px $greenmain;
    box-shadow: inset 0 -5px 0 0 $greenmain;
    // background-color: white;
    // color: black;
  }
}
