@import "../../assets/colors";
@import "../../assets/dimension";

.room-screen {
  background-color: $greenmain;

  // change
  height: 100%;
  width: 100%;
}

.room-screen iframe {
  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
