@import "../../../assets/colors";

.modal {
  background-color: $blackdark;

  border: 1px solid $black3;
  // border-radius: 1%;

  // DEFAULT VALUES ARE THE FOLLOWING:
  // default unspecified as not overridden by props.className
  // height: auto;
  // width: auto;

  z-index: 400;

  // unnecessary
  box-sizing: border-box;
  position: absolute;
}
