@import "../../assets/colors";

.logo-container {
  // margin: 0 1em;
  // background-color: $blacklight;

  // box-sizing: border-box;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  .logo-text {
    color: $greenmain;
    font-size: 2em;
    font-style: italic;
    font-weight: bold;
    margin-right: 0.2em;
  }
}
