@import "../../assets/colors";

.logo-container {
  // margin: 0 1em;
  // background-color: $blacklight;

  // box-sizing: border-box;
  width: -moz-fit-content; // firefox
  // width: -webkit-fit-content; // chrome // unfortunately only one of these work at a time rn
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .logo-text {
    color: $greenmain;
    font-size: 2em;
    font-style: italic;
    font-weight: bold;
    margin-right: 0.2em;
  }
}
