@import "../../assets/colors";

.logo-container {
  width: fit-content;
  margin: 0 auto; // centers container horizontally

  .logo {
    height: 50px;
    width: 50px;
    display: inline-block;
    margin: 0 10px 0 0;
  }

  .logo-text {
    display: inline-block;
    color: $greenmain;
    font-size: 2em;
    font-style: italic;
    font-weight: bold;

    .suffix {
      color: $graylight;
      font-style: normal;
      font-weight: normal;
    }
  }
}
