@import "../../assets/colors";


.cards-carousel-wrapper {
    display: flex;
    overflow-x: hidden; //makes sure there will never be a horizontal scroll
    position: absolute; //offsets based on card active is set to
    transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    margin: auto;
    .card {
        flex: 1; //cards are in one row
        min-width: 200px;
        margin-left: 30px;
    }
}
.cards-grid {
    // display: -moz-grid-group;
    // display: -ms-grid;
    // display: flex;
    // flex: 2;
    // overflow-x: hidden;
    padding: 20px;
    margin: 10px;
    list-style: none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.cards-carousel {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    // max-width: 226px;
    margin: auto;
}

.card {
    border: 1px $greenmain solid;
    box-shadow: 0px 1px 3 px $blackdark;
    transition: all 0.3s linear;
    cursor: pointer;
    background-color: $blacklight;
    padding: 30px;
    // width: 240px;
    // height: 90px;
    width: 200px;
    height: 75px;
    text-align: center;
    margin: 0 auto;

    img {
        max-width: calc(100%);
        margin: 0 auto;
        display: block;
    }
    .details {
        text-align: left;
    }
    
    .features {
        list-style: none;
        padding: 0;
        margin: 0;

    }
    
    .owner {
    
    }
    
    .name {
    
    }
    
    .tags {
    
    }
    
    .genre {
    
    }
}
