@import "../../assets/colors";
@import "../../assets/dimension";

.login-register-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  grid-template-areas:
    ". . ."
    ". lr-panel ."
    ". . .";

  justify-items: center;

  .login-register-panel {
    grid-area: lr-panel;
  }
}
