@import "../../assets/colors";

.login-register-page {
  width: 100%;
  height: 100%;
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  grid-template-areas:
    ". . ."
    ". lr-panel ."
    ". . .";

  align-items: center;
  justify-items: center;
  // height: 100%;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  .login-register-panel {
    grid-area: lr-panel;

    // background-color: white;
  }
}
