@import "../../assets/colors";
@import "../../assets/dimensions";
@import "../../assets/font-stack";

.room-container {
  display: flex;
  flex-direction: row;
}

.room {
  order: 2;
  
  background-image: $bggradient;

  height: auto;
  width: 100%;

  padding: 0;
  margin: 0;

  top: 0;
  left: 0;

  display: grid;

  // margin-left: 5%;
  // margin-right: 5%;
  // same behavior due to margins
  // grid-template-columns: 100%;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 2% 7% 1% 85% 5%;
}

.room-screen-item {
  grid-column: 2;
  grid-row: 4;

  display: flex;
  align-items: center;
  justify-content: center;
}

.room-settings-page {
  position: absolute;
  // FIX TO ADJUST TO SAMS NAV BAR HEIGHT!!!! figure out a way to calculate it >_>
  height: 95vh;
  width: 100%;

  z-index: 500;
  display: flex;
  align-items: center;
  justify-content: center;

  animation-name: color;
  animation-duration: 5s;
}

.room-bar-item {
  grid-column: 2;
  grid-row: 2;

  height: 100%;
  width: auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes color {
  from {
    background-color: $greenmain;
  }
  to {
    background-color: $transparentPink;
  }
}
