@import "../../assets/colors";
@import "../../assets/dimensions";

.lobby-page {
  display: flex;
  flex-direction: row;

  .left-sidebar-panel {
    order: 0;
    width: $sidebarwidth;
  }

  .lobby-content {
    order: 1;
    width: 100%;
    height: 100%;
  }
  
  .right-sidebar-panel {
    order: 2;
    width: $sidebarwidth;
  }
}
