@import "../../assets/colors";
@import "../../assets/dimension";

//To Do: Media
.container{
    text-align: center;
    position: relative;
    // overflow-x: hidden;
    display: grid;
    grid-template-columns: 1fr 4.5fr 1fr;
    grid-template-rows: 1fr 300px 1fr 1fr 600px;
    // grid-template-columns: fit-content;
    // grid-template-rows: 1fr 2fr 1fr;
  
    grid-template-areas:
      ". active-header ."
      "back-btn active next-btn"
      ". active ."
      ". featured-header ."
      ". featured .";
}

.active-container {
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  grid-area: active;
  padding-top: 20px;
  margin: 0;
}

.next-btn{
    grid-area: next-btn;
    margin: auto;
    width: 80px;
    height: 90px;
    padding-bottom: 60px;
}

.back-btn{
    grid-area: back-btn;
    margin: auto;
    width: 80px;
    height: 90px;
    padding-bottom: 60px;
}

.featured-container {
    grid-area: featured;
    // display: grid;
    // grid-template-columns: 1fr 4.5fr 1fr;
    // grid-template-rows: 1fr 2fr 1fr;
    // grid-template-areas: 
    // ". . ."
    // ". . ."
    // ". . .";
}

.button {
    // display: inline-block;
    float: left;
}

.header {
    text-align: left;
    vertical-align: text-bottom;
    padding-left: 30px;
    font-size: 45px;
    font-weight: lighter;
    color: $greenmain;
    margin: 0;
    border-bottom: 5px solid $greenmain;
    // font-weight: bold;
    font-style: italic;
}

#active_header{
    grid-area: active-header;
    margin: 0;
    padding-top: 80px;
}

#featured_header{
    grid-area: featured-header;
    margin: 0;

}

.title {
    text-align: left;
    vertical-align: text-bottom;
    padding-left: 30px;
    margin: 0;
}
