@import "../../assets/colors";
@import "../../assets/dimensions";

.lobby-page {
  display: grid;
  grid-template-columns: $sidebarwidth auto;

  grid-template-areas:
    "sb-panel .";

  .sidebar-panel {
    grid-area: sb-panel;
  }
}
