@import "../../assets/colors";
@import "../../assets/dimensions";
@import "../../assets/font-stack";

.room-settings {
  height: 100%;
  width: 100%;

  // display: grid;
  // // SETTINGS SIZE change
  // grid-template-columns: 10em auto;
  // grid-template-rows: auto;
}

.room-settings-panel {
  // grid-column: 1;
  // float: left;

  display: flex;
  flex-flow: column;

  height: 100%;
  width: 100%;

  align-content: flex-start;
  justify-content: flex-start;

  border-right: 1px solid $greenmain;
}

.room-settings-content {
  // grid-column: 2;
  // float: right;
  display: flex;
  flex-flow: column;

  height: auto;
  width: auto;

  align-items: center;
  align-content: flex-start;
  justify-content: flex-start;

  margin: 1em;
  box-sizing: border-box;
  border: 1px solid $blacklight;

  // background-color: $transparentPink;
}

.room-settings-modal {
  position: absolute;
  background-color: $black3;

  height: 90%;
  width: 90%;
}

.room-settings-backdrop {
  background-color: $transparentPink;
}

.room-settings-tab {
  height: auto;
  width: 8em;

  font-family: $fontfamily;
  font-size: $generaltext;

  text-align: left;

  color: $white;

  border: none;
  border-radius: 10%;

  margin-top: 1em;
  margin-right: 0.2em;
  margin-left: 0.5em;

  box-sizing: border-box;

  background-color: $blacklight;
}

.demo-1 {
  display: flex;
  flex-flow: column;

  height: 100%;
  width: 100%;

  align-items: center;
  align-content: flex-start;
  justify-content: flex-start;

  box-sizing: border-box;
  border: 1px solid $blacklight;

  background-color: $transparentPink;
}

.demo-2 {
  display: flex;
  flex-flow: column;

  height: 100%;
  width: 100%;

  align-items: center;
  align-content: flex-start;
  justify-content: flex-start;

  box-sizing: border-box;
  border: 1px solid $blacklight;

  background-color: rgba(99, 205, 209, 0.5);
}

.demo-3 {
  display: flex;
  flex-flow: column;

  height: 100%;
  width: 100%;

  align-items: center;
  align-content: flex-start;
  justify-content: flex-start;

  box-sizing: border-box;
  border: 1px solid $blacklight;

  background-color: rgba(99, 209, 154, 0.5);
}

.demo-4 {
  display: flex;
  flex-flow: column;

  height: 100%;
  width: 100%;

  align-items: center;
  align-content: flex-start;
  justify-content: flex-start;

  box-sizing: border-box;
  border: 1px solid $blacklight;

  background-color: rgba(180, 209, 99, 0.506);
}

.demo-5 {
  display: flex;
  flex-flow: column;

  height: 100%;
  width: 100%;

  align-items: center;
  align-content: flex-start;
  justify-content: flex-start;

  box-sizing: border-box;
  border: 1px solid $blacklight;

  background-color: rgba(209, 99, 194, 0.5);
}

.demo-6 {
  display: flex;
  flex-flow: column;

  height: 100%;
  width: 100%;

  align-items: center;
  align-content: flex-start;
  justify-content: flex-start;

  box-sizing: border-box;
  border: 1px solid $blacklight;

  background-color: rgba(209, 99, 99, 0.506);
}
