@import "../../assets/colors";
@import "../../assets/dimensions";
@import "../../assets/font-stack";

.room-settings {
  // display: grid;

  // grid-template-columns: 30% auto;
  display: grid;
  // grid-template-rows: auto;
}

.test {
  grid-column: 1;
  grid-row: 1;
}

.room-settings-panel {
  grid-column: 1;
}

.room-settings-content {
  grid-column: 2;
}

.room-settings-modal {
  position: absolute;
  background-color: $greenmain;

  height: 100%;
  width: 100%;
}

.room-settings-backdrop {
  background-color: thistle;
}
