@import "../../assets/colors";

@media (max-width: 679px) {
  .navbar-container {
    // height: 3.5em;

    grid-template-columns:
      minmax(1fr, 3em) minmax(1fr, 3em) minmax(1fr, 3em) minmax(1fr, 3em)
      minmax(1fr, 3em);
    grid-template-rows: 1fr 1fr;

    grid-template-areas:
      ". logo logo sitenav ."
      "roomnav roomnav roomnav roomnav roomnav";
  }
}

@media (min-width: 680px) {
  .navbar-container {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: "logo roomnav sitenav";
  }
}

.navbar-container {
  background-color: $blacklight;
  min-width: fit-content;
  width: 100%;
  // height: 3.5em;
  padding: 0 1em;

  box-sizing: border-box;

  display: grid;
  // grid-template-columns: 1fr 4fr 1fr;
  // grid-template-areas: "logo roomnav sitenav";

  // border-bottom: 0.15em solid $greenmain;

  .logo-section {
    grid-area: logo;
  }

  .room-nav {
    grid-area: roomnav;

    display: flex;
    justify-content: center;
    align-items: center;

    .room-nav-btn {
      margin: 0 0.15em;
    }

    .home-btn,
    .search-btn,
    .create-room-btn {
      background-color: transparent;
      svg {
        path {
          fill: $white;
        }
      }
      &:hover {
        background-color: $greenmain;
        svg {
          path {
            fill: $blacklight;
          }
        }
      }
    }

    .search-btn {
    }

    .create-room-btn {
    }
  }

  .site-nav {
    grid-area: sitenav;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    .more-pages-btn {
      margin: 0 0.15em;
      background-color: $greenvibrant;
    }

    .user-settings-btn {
      margin: 0 0.15em;
      background-color: $yellowvibrant;
    }

    .logout-btn {
      margin: 0 0.15em;
      background-color: $redvibrant;
    }
  }
}
