@import "../../assets/colors";
@import "../../assets/dimension";
@media (max-width: 679px) {
  .navbar-container {
    grid-template-columns:
      minmax(1fr, 3em) minmax(1fr, 3em) minmax(1fr, 3em) minmax(1fr, 3em)
      minmax(1fr, 3em);
    grid-template-rows: 1fr 1fr;

    grid-template-areas:
      ". logo logo sitenav ."
      "roomnav roomnav roomnav roomnav roomnav";
  }
}

@media (min-width: 680px) {
  .navbar-container {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: "logo roomnav sitenav";
  }
}

.navbar-container {
  background-color: $blacklight;
  height: $navbarheight;
  min-width: -moz-fit-content;
  width: 100%;
  padding: 0 0.5em;

  box-sizing: border-box;

  display: grid;

  .logo-section {
    grid-area: logo;
  }

  .room-nav {
    grid-area: roomnav;

    display: flex;
    justify-content: center;
    align-items: center;

    .circle-hover {
      &:hover {
        background-color: $circlehovercolor;
      }
    }

    .room-nav-btn {
      margin: 0 0.15em;
    }

    .home-btn,
    .search-btn,
    .create-room-btn {
      background-color: transparent;
      svg {
        path {
          fill: $white;
        }
      }
      &:hover {
        background-color: $circlehovercolor;
        svg {
          path {
            fill: $blacklight;
          }
        }
      }
    }

    // search icon has an ugly spin cus its not perfectly symmetric so i disabled the spin animation
    .search-btn {
      svg {
        transform: none;
      }
    }

    .create-room-btn {
    }
  }

  .site-nav {
    grid-area: sitenav;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    .more-pages-btn {
      margin: 0 0.15em;
      background-color: $greenvibrant;
    }

    .user-settings-btn {
      margin: 0 0.15em;
      background-color: $yellowvibrant;
    }

    .logout-btn {
      margin: 0 0.15em;
      background-color: $redvibrant;
    }
  }
}
