@import "../../assets/colors";

@mixin site-nav-size {
  width: 1.5em;
  height: 1.5em;
  border-radius: 1em;
  margin-left: 0.3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin rotateAnimation {
  transition-duration: 500ms;
  transition-property: transform opacity;
  &:hover {
    cursor: pointer;
    transform: rotate(360deg);
  }
  &:active {
    // transform: translateY(-0.5em);
    opacity: 50%;
  }
}

.navbar-container {
  min-width: fit-content;
  width: 100%;
  height: 3.5em;
  background-color: $blacklight;

  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas: "logo roomnav sitenav";

  // border-bottom: 0.15em solid $greenmain;

  .logo-container {
    box-sizing: border-box;
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo-text {
      color: $greenmain;
      font-size: 2em;
      font-style: italic;
      font-weight: bold;
      margin-right: 0.2em;
    }

    .me-dot-container {
      background-color: $blacklight;
      // padding: 0.5em;
      transition-duration: 500ms;
      transition-property: background-color;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .me-dot-item {
        font-weight: bold;
        font-size: 1em;
        color: $blacklight;

        width: 1.5em;
        height: 1.5em;
        background-color: $item;
        border-radius: 5em;

        display: flex;
        flex-direction: row;
        justify-content: center;

        // transition-duration: 500ms;
        // transition-property: width, height, transform;

        @include rotateAnimation;
      }
    }
  }

  .room-nav {
    box-sizing: border-box;

    grid-area: roomnav;
    display: flex;
    justify-content: center;
    align-items: center;

    .item-container {
      box-sizing: border-box;
      width: 3em;
      height: 3em;
      background-color: $blacklight;
      padding: 0.5em;
      transition-duration: 500ms;
      transition-property: background-color;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &:hover {
        // background-color: $greenmain;
        cursor: pointer;

        .item {
          transform: rotate(360deg);
          width: 2em;
          height: 2em;
        }
      }

      &:active {
        // background-color: rgb(106, 117, 144);
        // border-bottom: 3px solid $greenmain;
        // border-top: 3px solid $greenmain;
        .item {
          opacity: 50%;
        }
      }
      .item {
        // box-sizing: border-box;

        width: 1.5em;
        height: 1.5em;
        background-color: $item;
        border-radius: 5em;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        transition-duration: 500ms;
        transition-property: width, height, transform;
      }
    }
  }

  .site-nav {
    box-sizing: border-box;
    grid-area: sitenav;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1em;

    .page-drop-down {
      @include site-nav-size;
      background-color: $greenmain;
      @include rotateAnimation;
    }

    .user-settings {
      @include site-nav-size;
      background-color: $yellowvibrant;
      @include rotateAnimation;
    }

    .logout-btn {
      @include site-nav-size;
      background-color: $redvibrant;
      @include rotateAnimation;
    }
  }
}
