@import "../../assets/colors.scss";
@import "../../assets/dimensions.scss";


.sidebar-container {
	display: grid;

	max-width: 1pc;
	height: -moz-fit-content;
	overflow: hidden;
	transition: max-width .4s ease-in-out;
	grid-template-columns: auto 1em;

	.vertical-button {
		grid-column: 2;
		height: 100%;
		width: 100%;
		order: 1;
		cursor: pointer;
		background-color: $blackdark;
	}

	.sidebar-content {
		border-top: 5px solid $greenmain;
		order: 0;
		height: 100%;
		background-color: $black4;

	}

}