@mixin rotateAnimation {
  cursor: pointer;
  transition-duration: 500ms;
  transition-property: transform, opacity;
  &:hover {
    // cursor: pointer;
    transform: rotate(360deg);
  }
  &:active {
    // transform: translateY(-0.5em);
    opacity: 50%;
  }
}
