@import "../../assets/colors.scss";

.login-container {
  .form-container {
    background-color: $blacklight;
    height: -moz-fit-content;
    // width: 20em;

    display: grid;
    grid-template-columns: minmax(100%, 20em);
    grid-template-rows: repeat(5, auto);
    grid-gap: 1em;

    grid-template-areas:
      "logo"
      "email"
      "password"
      "loginbtn"
      "glogin-btn";

    .logo-container {
      grid-area: logo;
    }

    .email-field {
      grid-area: email;
    }

    .password-field {
      grid-area: password;
    }

    .login-btn {
      grid-area: loginbtn;
    }

    .google-login-btn {
      grid-area: glogin-btn;
    }
  }
  // .button {
  //   background-color: $greenmain;
  //   color: white;
  //   text-transform: uppercase;
  //   font-family: "Open Sans Condensed";
  //   font-weight: bolder;
  //   border: none;
  //   cursor: pointer;

  //   &:hover {
  //     background-color: $white;
  //     color: black;
  //     // border: 1px solid black;
  //   }
  // }
}
