@import "../../assets/colors.scss";
@import "../../assets/dimension";
@mixin shrinkLabel {
  top: -1.45em;
  left: 2px;

  font-size: 12px;
  font-weight: bold;
  color: white;
}

.input-field {
  position: relative;
  outline: none;
  margin-top: 1em;

  .form-input {
    box-sizing: border-box;
    height: $defaultbtnheight;
    font-family: "Open Sans Condensed";
    color: $black3;

    background: none;
    background-color: $white;
    font-size: 0.9em;
    font-weight: bold;

    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 5px solid $greenmain;

    &:focus {
      outline: none;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }

    &:required {
      box-shadow: none;
      // border-bottom: 5px solid $redvibrant;
    }
    &:invalid {
      box-shadow: none;
      // border-bottom: 5px solid $redvibrant;
    }
  }

  input[type="password"] {
    letter-spacing: 0.1em;
  }

  .form-input-label {
    text-transform: uppercase;
    color: $blackdark;
    font-size: 0.9em;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 0.5em;
    top: 0.4em;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }
}
