@import "../../../assets/colors";
@import "../../../assets/dimensions";
@import "../../../assets/font-stack";

.tab {
  height: auto;
  width: 100%;

  font-family: $fontfamily;
  font-size: $generaltext;

  text-align: left;

  color: $white;

  border: none;
  border-radius: 10%;

  background-color: thistle;

  cursor: pointer;
}
